[submodule "Desktop/React_SneakerXplorer-master/Downloads/React_SneakerXplorer-master/React_SneakerXplorer"]
	path = Desktop/React_SneakerXplorer-master/Downloads/React_SneakerXplorer-master/React_SneakerXplorer
	url = https://github.com/rrose22/React_SneakerXplorer
